@{
    ViewBag.Title = "Giới thiệu";
}
<link href="~/Content/css/bundle.css" rel="stylesheet" />
<div id="contentpub" class="js-hidden-when-expired ">
    <section class="landing-hero g-group--full-width animate-first about-main">
        <nav class="landing-nav">
            <div class="g-group">
                <ul class="g-cell g-cell-12-12 inline-link-list">
                    <li class="is-active"><a href="/about/">About Us</a></li>
                    <li class=""><a href="/contact/">Contact Us</a></li>
                </ul>
            </div>
        </nav>


        <div class="g-grid" data-automation="about-page">
            <div class="g-group hero-headline l-align-center">
                <div class="g-cell g-cell-10-12 g-cell-lg-12-12">
                    <h1 class="text-mega text-light text-heading--emphasized">Bringing the world together through live experiences</h1>
                </div>
            </div>
        </div>
        <section class="landing-triangle-wrapper g-group--full-width">
            <div class="landing-triangle">
                <div class="landing-triangle-border landing-triangle-left" style="border-right-width: 951.5px;"></div>
                <div class="landing-triangle-border landing-triangle-right" style="border-left-width: 951.5px;"></div>
            </div>
        </section>
    </section>
    <section class="landing-description landing-section">
        <div class="g-grid">
            <div class="g-group">
                <div class="g-cell g-cell-10-12 g-offset-1-12 text--centered">
                    <h2 class="text-secondary text-light text-heading--emphasized">Eventbrite is the world's largest self-service ticketing platform. We build the technology to allow anyone to create, share, find and attend new things to do that fuel their passions and enrich their lives. Music festivals, marathons, conferences, hackathons, air guitar contests, political rallies, fundraisers, gaming competitions — you name it, we power it. Our mission? To bring the world together through live experiences.</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="landing-features landing-section--white landing-section">
        <div class="g-grid">
            <div class="landing-feature-items g-group l-align-center">
                <div class="g-cell g-cell-10-12 g-cell-md-4-12 g-offset-1-12 g-offset-md-0-12">
                    <div class="landing-feature animate-first landing-feature-no-margin" style="opacity: 1;">
                        <div class='divIconCountry' style="">
                            <style type="text/css">
                                .divIconCountry {
                                    background: url(/Content/Images/img/iconCountry.png) center center no-repeat;
                                    width: 40px;
                                    height: 40px;
                                    margin: 0 auto;
                                }
                            </style>
                        </div>
                        <p class="text-body-large text-body--faint l-mar-top-1">187 countries host events with Eventbrite</p>
                    </div>
                </div>
                <div class="g-cell g-cell-10-12 g-cell-md-4-12 g-offset-1-12 g-offset-md-0-12">
                    <div class="landing-feature animate-second" style="opacity: 1;">
                        <div class='divIconEventHeld' style="">
                            <style type="text/css">
                                .divIconEventHeld {
                                    background: url(/Content/Images/img/iconEventHeld.png) center center no-repeat;
                                    width: 40px;
                                    height: 40px;
                                    margin: 0 auto;
                                }
                            </style>
                        </div>
                        <p class="text-body-large text-body--faint l-mar-top-1">2 million events held per year</p>
                    </div>
                </div>
                <div class="g-cell g-cell-10-12 g-cell-md-4-12 g-offset-1-12 g-offset-md-0-12">
                    <div class="landing-feature animate-third" style="opacity: 1;">
                        <div class='divIconTicket' style="">
                            <style type="text/css">
                                .divIconTicket {
                                    background: url(/Content/Images/img/iconTicket.png) center center no-repeat;
                                    width: 40px;
                                    height: 40px;
                                    margin: 0 auto;
                                }
                            </style>
                        </div>
                        <p class="text-body-large text-body--faint l-mar-top-1">4 million tickets processed per month</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="landing-cta g-group animate-first">
        <div class="g-cell g-cell-12-12 g-cell-md-4-12 g-cell--no-gutters">
            <a class="category-card" href="#">
                <div class="category-card__wrapper">
                    <div class="category-card__tint">
                        <div class="category-card__image cta-host"></div>
                    </div>
                    <div class="category-card__text-wrapper">
                        <h4 class="category-card__label l-pad-hor-2 text-primary text-light text-heading--emphasized">
                            Host
                        </h4>
                        <p class="category-card__desc l-mar-top-2 l-pad-hor-2 text-body text-heading--emphasized">
                            Organize an event
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="g-cell g-cell-12-12 g-cell-md-4-12 g-cell--no-gutters">
            <a class="category-card" href="#">
                <div class="category-card__wrapper">
                    <div class="category-card__tint">
                        <div class="category-card__image cta-discover"></div>
                    </div>
                    <div class="category-card__text-wrapper">
                        <h4 class="category-card__label l-pad-hor-2 text-primary text-light text-heading--emphasized">
                            Discover
                        </h4>
                        <p class="category-card__desc l-mar-top-2 l-pad-hor-2 text-body text-heading--emphasized">
                            Find your next experience
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="g-cell g-cell-12-12 g-cell-md-4-12 g-cell--no-gutters">
            <a class="category-card" href="#">
                <div class=" category-card__wrapper">
                    <div class="category-card__tint">
                        <div class="category-card__image cta-join"></div>
                    </div>
                    <div class="category-card__text-wrapper">
                        <h4 class="category-card__label l-pad-hor-2 text-primary text-light text-heading--emphasized">
                            Join
                        </h4>
                        <p class="category-card__desc l-mar-top-2 l-pad-hor-2 text-body text-heading--emphasized">
                            Explore career opportunities
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </section>
</div>