#TabStripEvents a{
    border:none;
}

.poster-card .poster-card__footer .poster-card__actions a.saved .ico-bookmarked {
    color:#26bdff;
}
.poster-card .poster-card__footer .poster-card__actions a .ico-bookmarked {
    color:#c0c0c0;
}
