@{
    ViewBag.Title = "Index";
}

<div id="contentpub" class="js-hidden-when-expired ">
    <div class="main">
        <div id="ticket_error_message_container" class="deprecated-notification2 error_notification hidden">
            <div class="error_notification_msg">
                <span id="ticket_error_message" style="display:none;">None</span>
            </div>
        </div>

        <div id="subheader">
            <table id="subheader_table">
                <tbody>
                    <tr>
                        <td id="subheader_info_cell" style="">
                            <div id="event_header">
                                <h1><span class="summary">Why drive to the club when you can ride on a PARTY BUS</span></h1>
                                <h2>
                                    <a href="#" target="_blank">
                                        Mastermind Lifestyle Prime
                                    </a>
                                </h2>

                                <h2>
                                    Monday, October 31, 2016 at 10:00 PM <span class="pipe">-</span> Tuesday, November 1, 2016 at 2:00 AM (CDT)
                                </h2>

                                <div id="event_network">
                                    <h2>
                                        <a href="#">Houston, TX</a>
                                    </h2>
                                </div>
                            </div>
                        </td>
                        <td id="subheader_logo_cell">
                            <div class="event_title_image">
                                <img src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F24659191%2F178533467947%2F1%2Foriginal.jpg?h=150&amp;w=300&amp;rect=0%2C0%2C2160%2C1080&amp;s=1b22d45981d38f159423e7c97b5c6307" alt="Why drive to the club when you can ride on a PARTY BUS" class="photo cropped js-d-retina" data-d-retina-src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F24659191%2F178533467947%2F1%2Foriginal.jpg?h=300&amp;w=600&amp;rect=0%2C0%2C2160%2C1080&amp;s=0f0b95b9770e16c43a3eb50f7af1c038" dorsal-guid="a2172036-966c-dae9-860a-a88dc5a2f067" data-xd-wired="retina">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="col_628">
            <div id="ticket_information_wrapper" class="panel_628" style="position: relative;">
                <form name="mgform" onsubmit="return validateform();" action="https://www.eventbrite.com/orderstart?ebtv=C" method="post" target="_top" style="margin: 0px;">
                    @*<input type="hidden" name="csrfmiddlewaretoken" value="60b009c15814430a8e0fb4270fd7fc7b">
                    <input type="hidden" name="eid" value="25966199602">
                    <input type="hidden" name="eventpassword" value="">
                    <input type="hidden" name="affiliate" value="ehomecard">
                    <input type="hidden" name="referral_code" value="">
                    <input type="hidden" name="referrer" value="">
                    <input type="hidden" name="invite" value="">
                    <input type="hidden" id="ticketCurrency" value="$">
                    <input type="hidden" name="has_javascript" value="1">
                    <input type="hidden" name="varnish_hit_event_id" value="">
                    <input type="hidden" name="_nomo" value="">
                    <input type="hidden" name="source_id" value="45cacbc797ae11e6b5480aa7789eab05">
                    <input type="hidden" name="w" value="">
                    <input type="hidden" name="waitlist_code" value="">

                    <input type="hidden" name="payment_type" value="free">
                    <script type="text/javascript">
                        document.mgform.has_javascript.value = '1';
                    </script>*@

                    <div class="l-mar-stack">
                        <div class="panel_head2 l-mar-top-3" id="ticketInfo">
                            <h3>Ticket Information</h3>
                        </div>
                    </div>

                    <div id="TicketReg" class="panel_body">
                        @*<table width="100%" border="0" cellpadding="0" cellspacing="0" class="ticket_table" id="ticket_table" data-automation="ticket_table">
                            <tbody>
                                <tr class="ticket_table_head">
                                    <td width="40%" nowrap="nowrap">
                                        Type
                                    </td>
                                    <td>End</td>
                                    <td></td>
                                    <td></td>
                                    <td width="70" align="right">Quantity</td>
                                </tr>
                                <tr class="ticket_row">

                                    <td class="ticket_type_name">
                                        Party Bus Reservation Info Request

                                        <div id="descriptionDiv51339395" style="font-size: 11px; line-height: 12px; margin: 5px 0 0 0;">Register here with your name and phone number and we will call you back with detailed party bus info and pricing.  </div>
                                    </td>

                                    <td nowrap="nowrap" content="2016-10-31 23:30:00-05:00">
                                        Oct 31, 2016
                                    </td>
                                    <td nowrap="nowrap" class="price_td">
                                        <input type="hidden" name="cost_51339395_None" value="0.00">

                                        Free

                                    </td>
                                    <td nowrap="nowrap" class="fee_td">
                                        &nbsp;
                                    </td>
                                    <td align="right" nowrap="nowrap">
                                        <label class="is-hidden-accessible" for="quant_51339395_None">Ticket Quantity Select</label>
                                        <select class="ticket_table_select" name="quant_51339395_None" id="quant_51339395_None" onchange="updateCheckout();">

                                            <option value="1">1</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>*@
                    </div><!-- end panel_body -->

                    <div id="OrderReg" class="panel_footer" style="text-align: right; padding: 10px; height: auto">
                        @*<script>
                            // EB-25640 The Register button does not work if the page is not fully loaded, and freeCheckout becomes
                            // undefined. Here we essentially register that the user has clicked the 'Register' button and then execute
                            // the function once all of the page has loaded.
                            var freeCheckoutClicked = false;

                            window.addEventListener('load', function () {
                                if (freeCheckoutClicked) {
                                    freeCheckout();
                                }
                            });
                            if (typeof (freeCheckout) !== 'function') {
                                function freeCheckout() {
                                    freeCheckoutClicked = true;
                                }
                            }
                        </script>*@
                        <table id="freeButton" align="right" style="display: block;">
                            <tbody>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>
                                        <span id="primary_cta" class="button_css">
                                            <a href="#" class="js-checkout-button" data-automation="register-button" style="text-decoration:none;color:#FFFFFF;">Register</a>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div id="paidButton" style="display: none;" data-automation="paidButton">
                            @*<table cellpadding="0" cellspacing="0" border="0" width="100%">
                                <tbody>
                                    <tr>
                                        <td align="right">
                                            <div class="takeover is-hidden">
                                                <div class="js-dialog-frame-background"><div class="blackout"></div></div>
                                                <div class="overlay-dialog__container">
                                                    <div class="js-dialog-frame overlay-dialog__frame overlay-dialog__frame--popover" data-automation="dialog-frame">
                                                        <div role="dialog" aria-labelledby="dialog-header-content_popover-modal" aria-describedby="aria-description_popover-modal" class="dialog-frame-content js-dialog-frame-content disable-touch-feedback">
                                                            <section class="js-dialog-header dialog-header">
                                                                <div class="js-dialog-header-content">
                                                                    <div class="g-group l-pad-vert-3">
                                                                        <div id="aria-description_popover-modal" class="is-hidden-accessible">
                                                                            Beginning of dialog window. It begins with a heading 1 called Information Shared with Event Organizer. Escape will cancel and close the window.
                                                                        </div>
                                                                        <section class="g-cell g-cell-2-12 l-align-left"></section>
                                                                        <section class="g-cell g-cell-8-12 l-align-center">
                                                                            <h1 id="dialog-header-content_popover-modal" class="heading-secondary-responsive">Information Shared with Event Organizer</h1>
                                                                        </section>
                                                                        <section class="g-cell g-cell-2-12 l-align-right">

                                                                            <button class="js-header-close dialog-header__action" data-automation="modal-header-close"><i class="ico-cross ico--small"></i><span class="is-hidden-accessible">Close</span></button>

                                                                        </section>
                                                                    </div>
                                                                </div>
                                                            </section>
                                                            <section class="dialog-content js-scrollable-area ">
                                                                <div class="dialog-content-container js-dialog-content" data-automation="dialog-content">
                                                                    <div>
                                                                        <div class="responsive-form" id="privacy-shield" data-d-heading="Information Shared with Event Organizer" data-d-close-on-bg-click="true" data-d-name="popover-modal" data-d-type="popover" dorsal-guid="0851ddc3-5d08-4d91-e498-60c5696c0b78" data-xd-wired="dialog">
                                                                            <div class="g-grid l-lg-pad-hor-5 l-md-pad-hor-5 l-sm-pad-hor-3">
                                                                                <div class="g-cell g-cell-1-1 l-pad-vert-3">
                                                                                    <p>When purchasing tickets to, or registering for this event, we provide the information entered to the event organizer so they can manage the event.  If you do not want the event organizer to have this information, please do not proceed with your purchase or registration.  Please review our <a href="#" target="_blank">Privacy Policy</a> for more information.</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </section>
                                                            <section class="js-dialog-footer dialog-footer"></section>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>*@
                        </div>    <!-- end paidButton -->
                        <div class="clearfloat"></div>
                    </div><!-- OrderReg end panel_footer -->
                </form>
                <div class="clearfloat"></div>
            </div><!-- end panel_628 -->

            <div id="see_whos_going" class="panel_628">
                <div class="panel_head2"><h3>Who's Going</h3></div>
                <div class="panel_body splash">Oops! We're having trouble connecting to Facebook. Please <a class="swg_retry" href="#">try again</a>.</div>
            </div>



            <div id="swg_preview" class="hidden panel_628">

                <div class="headline panel_border">
                    <div class="icon check"></div>
                    <b>3 of your friends are going.</b>
                    Share it to get more people on board! <a href="#" class="social_share facebook_button"><span>Share</span></a>
                </div>

                <div class="people">
                    <div class="person friend">
                        <div class="avatar">
                            <!-- <img width="50" height="50" src="//cdn.evbstatic.com/s3-s3/swg_preview/sara_haughty.jpg" alt=""> -->
                        </div>
                        <div class="info">
                            <b>Sara Haughty</b>
                            <br>San Francisco, California
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="person friend">
                        <div class="avatar">
                            <!-- <img width="50" height="50" src="//cdn.evbstatic.com/s3-s3/swg_preview/luke_picard.jpg" alt=""> -->
                        </div>
                        <div class="info">
                            <b>Luke Picard</b>
                            <br>London, United Kingdom
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="person friend">
                        <div class="avatar">
                            <!-- <img width="50" height="50" src="//cdn.evbstatic.com/s3-s3/swg_preview/rick_vespucio.jpg" alt=""> -->
                        </div>
                        <div class="info">
                            <b>Rick Vespucio</b>
                            <br>Florence, Italy
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>


            <div id="social_module_container" class="panel_628 clrfix">
                <div id="social_module" class="clrfix" style="position: relative;">
                    <p><strong>Share</strong> Why drive to the club when you can ride on a PARTY BUS</p>
                    <a class="js-event-track social_share email_button large" href="#" title="Invite friends via email" data-tracking-action="Share" data-tracking-label="email">
                        <span>
                            Email
                        </span>
                    </a>

                    <a class="js-event-track social_share linkedin_button large" href="#" title="Share this page on LinkedIn" target="_blank" data-tracking-action="Share" data-tracking-label="linkedin">
                        <span>
                            Share
                        </span>
                    </a>
                    <a class="js-event-track social_share tweet_button large" href="#" title="Share this page on Twitter" target="_blank" data-tracking-action="Share" data-tracking-label="twitter">
                        <span>
                            Tweet
                        </span>
                    </a>
                    <fb:like class="fb_long_widget fb_iframe_widget" href="https://www.eventbrite.com/e/why-drive-to-the-club-when-you-can-ride-on-a-party-bus-tickets-25966199602?utm_source=fb&amp;utm_medium=discovery&amp;utm_content=attendeeshare&amp;utm_campaign=social&amp;utm_term=listing&amp;aff=esfb" show_faces="false" width="315" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=28218816837&amp;container_width=0&amp;href=https%3A%2F%2Fwww.eventbrite.com%2Fe%2Fwhy-drive-to-the-club-when-you-can-ride-on-a-party-bus-tickets-25966199602%3Futm_source%3Dfb%26utm_medium%3Ddiscovery%26utm_content%3Dattendeeshare%26utm_campaign%3Dsocial%26utm_term%3Dlisting%26aff%3Desfb&amp;locale=en_US&amp;sdk=joey&amp;show_faces=false&amp;width=315"><span style="vertical-align: bottom; width: 315px; height: 20px;"><iframe name="f10da4ffdd8da4" width="315px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like Facebook Social Plugin" src="https://www.facebook.com/plugins/like.php?app_id=28218816837&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FfTmIQU3LxvB.js%3Fversion%3D42%23cb%3Df2f52c50a84c85%26domain%3Dwww.eventbrite.com%26origin%3Dhttps%253A%252F%252Fwww.eventbrite.com%252Ff28c0b8c590c60c%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fwww.eventbrite.com%2Fe%2Fwhy-drive-to-the-club-when-you-can-ride-on-a-party-bus-tickets-25966199602%3Futm_source%3Dfb%26utm_medium%3Ddiscovery%26utm_content%3Dattendeeshare%26utm_campaign%3Dsocial%26utm_term%3Dlisting%26aff%3Desfb&amp;locale=en_US&amp;sdk=joey&amp;show_faces=false&amp;width=315" style="border: none; visibility: visible; width: 315px; height: 20px;" class=""></iframe></span></fb:like>
                </div>
            </div>



            <div class="panel_628">
                <div class="panel_head2">
                    <h3>
                        Event Details
                    </h3>
                </div>
                <div class="panel_section">
                    @*<p><br></p>
                    <p style="text-align: center;"><strong><span style="color: #605e5e; font-family: 'open sans', sans-serif; font-size: 15px;">Houston may have the one of the best night life experiences in the country, but why should you drive there? When you can ride in style on one of our luxury party busses. Each bus comes with VIP access into one of our network clubs before 11:30, and a tailored&nbsp;itinerary just for you. From 7 passenger sprinter vans to 40 passenger rides, we have you covered</span></strong></p>
                    <p><span style="font-size: x-large;">TO RESERVE A PARTY BUS CALL OR TEXT:&nbsp;<a title="Engine Room Fridays At engine room Houston (281)-753-1498" href="#" target="_blank" rel="noopener noreferrer nofollow">MML_LIFESTYLE</a>&nbsp;<strong><a title="Engine Room Fridays At engine room Houston (281)-753-1498" href="#" target="_blank" rel="noopener noreferrer nofollow">(281)-753-1498</a></strong></span></p>
                    <p style="text-align: center;"><span><span style="color: #605e5e; font-family: 'open sans', sans-serif; font-size: 15px;"><br></span></span></p>
                    <p><span><a data-flickr-embed="true" data-context="true" rel="nofollow" href="#"><img src="https://c5.staticflickr.com/2/1517/24218312596_d3516b2f0d_z.jpg" width="640" height="427" alt="_MG_0043"></a></span></p>
                    <p style="text-align: center;"><span style="color: #605e5e; font-family: 'open sans', sans-serif; font-size: 15px; text-align: center;">A party bus is the ultimate Way to party. Your choice of music, Dance poles, wood floors, and limosine style seating for up to 40 will ensure that you and your people will have a blast. &nbsp;You don't have to worry about Parking when you are on a Presidential Party bus. We even have room for drinks and ice. Call us or fill out the form below for more Information.</span></p>
                    <p><span style="font-size: xx-large;">TO RESERVE A PARTY BUS CALL OR TEXT:&nbsp;<a title="Engine Room Fridays At engine room Houston (281)-753-1498" href="#" target="_blank" rel="noopener noreferrer nofollow">MML_LIFESTYLE</a>&nbsp;<strong><a title="Engine Room Fridays At engine room Houston (281)-753-1498" href="#" target="_blank" rel="noopener noreferrer nofollow">(281)-753-1498</a></strong></span><span><br></span></p>
                    <p><a data-flickr-embed="true" rel="nofollow" href="#"><img src="https://c6.staticflickr.com/2/1705/24162123501_fd8903bd9c_z.jpg" width="640" height="427" alt="Blue star"></a></p>
                    <h1 class="font_0" style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; font-weight: normal; font-stretch: normal; font-size: 14px; line-height: 1.3em; font-family: peaches-and-cream-regular-w00, script; color: #294057; text-align: center;"><strong><span style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; color: #000000;"><span style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent;"><span style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent;"><span style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent;"><span style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; line-height: 1.3em;"><span style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; letter-spacing: 0em;"><span style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; font-family: helvetica-w01-light, helvetica-w02-light, sans-serif;">A regular paarty bus company will &nbsp;give you a bus and send you on your way.&nbsp;NOT US! We did the legwork and know the best places in town to have fun so you dont have to stress about it</span></span></span></span></span></span></span></strong></h1>
                    <p><span style="font-size: xx-large;">TO RESERVE A PARTY BUS CALL OR TEXT:&nbsp;<a title="Engine Room Fridays At engine room Houston (281)-753-1498" href="#" target="_blank" rel="noopener noreferrer nofollow">MML_LIFESTYLE</a>&nbsp;<strong><a title="Engine Room Fridays At engine room Houston (281)-753-1498" href="#" target="_blank" rel="noopener noreferrer nofollow">(281)-753-1498</a></strong></span></p>
                    <p><a data-flickr-embed="true" data-context="true" rel="nofollow" href="#"><img src="https://c2.staticflickr.com/2/1671/23876543009_b336420ef3_z.jpg" width="640" height="427" alt="_MG_0049"></a></p>
                    <p><span style="font-size: xx-large;">&nbsp;TO RESERVE A PARTY BUS CALL OR TEXT:&nbsp;<a title="Engine Room Fridays At engine room Houston (281)-753-1498" href="#" target="_blank" rel="noopener noreferrer nofollow">MML_LIFESTYLE</a>&nbsp;<strong><a title="Engine Room Fridays At engine room Houston (281)-753-1498" href="#" target="_blank" rel="noopener noreferrer nofollow">(281)-753-1498</a></strong></span><span style="color: #000000;"><br></span></p>
                    <h1 class="font_0" style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; font-weight: normal; font-stretch: normal; font-size: 14px; line-height: 1.3em; font-family: peaches-and-cream-regular-w00, script; color: #294057; text-align: center;">&nbsp;</h1>
                    <h1 class="font_0" style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; font-weight: normal; font-stretch: normal; font-size: 14px; line-height: 1.3em; font-family: peaches-and-cream-regular-w00, script; color: #294057; text-align: center;">&nbsp;</h1>
                    <h1 class="font_0" style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; font-weight: normal; font-stretch: normal; font-size: 14px; line-height: 1.3em; font-family: peaches-and-cream-regular-w00, script; color: #294057; text-align: center;"><span style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; color: #000000; font-size: x-large;"><span style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent;"><span style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent;"><span style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent;"><span style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; line-height: 1.3em;"><span style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; letter-spacing: 0em;"><span style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; font-family: helvetica-w01-light, helvetica-w02-light, sans-serif;">Two ways to Party! &nbsp;You can reserve a private bus of your own, or you can Sign up for one of our monthly events. Call us for more details and pricing about our party bus events. We Plan everything from the Pickup location to the route that the bus drives to ensure that you will have the best Party Bus experience Imaginable</span></span></span></span></span></span></span></h1>
                    <p><span style="font-size: x-large;">&nbsp;</span></p>
                    <p>&nbsp;<a data-flickr-embed="true" data-context="true" rel="nofollow" href="#"><img src="https://c2.staticflickr.com/2/1572/24161799641_0657691159_z.jpg" width="640" height="427" alt="_MG_0074"></a></p>
                    <p>&nbsp;</p>
                    <p><span style="font-size: x-large;">Any more questions. Call us at 281-753-1498 or visit Houstonpartylife.com for more information and pricing details. &nbsp;Call us for info on how to get a FREE party bus event for yourself.&nbsp;</span></p>*@

                </div><!-- end panel_body -->
                <div class="panel_body">
                    Have questions about Why drive to the club when you can ride on a PARTY BUS?
                    <a href="#" class="contact_organizer_link js-d-modal" data-organizer-id="10878985534" data-event-id="25966199602" dorsal-guid="39fc91e0-a9f0-3f12-8717-0220ac210301" data-xd-wired="modal">
                        Contact Mastermind Lifestyle Prime
                    </a>
                </div>
            </div><!-- end panel_628 -->
        </div><!-- end col_628 -->
        <div id="col_280">
            <!--[if lte IE 6]>
            <style type="text/css">
            #track_event_container {
                display: none;
            }
            </style>
            <![endif]-->
            <div id="track_event_container" class="common_box panel_280">
                <a href="#" id="track_event" class="eb_button default large" data-source-page="old-listing">Save This Event</a>
                <div class="count_subview"></div>
                <div class="summary_subview"></div>
            </div>

            <div id="bookmark-login-popup" class="omnes g-cell g-cell--no-gutters g-cell-1-1 g-cell-md-6-12 g-cell-lg-4-12 mfp-hide">
                <h1 class="modal__heading">Save This Event</h1>
                <div class="modal__body l-align-center">
                    <div>Log in or sign up for Eventbrite to save events you're interested in.</div>
                    <div class="l-pad-vert-2">
                        <a href="#" class="js-bookmark-signup btn btn--block l-pad-vert-2" style="color:#fff;">
                            Sign Up
                        </a>
                    </div>
                    <div class="text-body-small">Already have an account? <a class="js-bookmark-login" href="#">Log in</a></div>
                </div>
            </div>

            <div id="bookmark-success-popup" class="omnes g-cell g-cell--no-gutters g-cell-1-1 g-cell-md-6-12 g-cell-lg-4-12 mfp-hide">
                <h1 class="modal__heading">Event Saved</h1>
                <div class="modal__body">
                    <div class="l-pad-vert-3 l-align-center">
                        <i class="ico-circle-checkmark ico--color-brand-dark-green" style="font-size: 140px;"></i>
                    </div>
                </div>
            </div>



            <div class="panel_280">
                <div class="panel_head2">
                    <h3>
                        When &amp; Where
                    </h3>
                </div>
                <div class="panel_body" id="panel_when">


                    <h2 class="location" style="margin-top: 3px;">
                        <br>
                        <b>Engine Room</b>
                        <br>
                        1515 Pease St <br>
                        Houston,
                        TX 77002<br>
                        <br>
                    </h2>

                    <h2 style="padding-bottom: 0;">
                        <span class="dtstart">
                            Monday, October 31, 2016 at 10:00 PM <span class="pipe">-</span> Tuesday, November 1, 2016 at 2:00 AM (CDT)
                            <span class="value-title" title="2016-10-31T22:00:00-05:00">
                            </span>
                            <span class="dtend">
                                <span class="value-title" title="2016-11-01T02:00:00-05:00">
                                </span>
                            </span>
                        </span>
                    </h2>
                    <br>
                    <a href="#"><span class="icon add_to_calendar">&nbsp;</span> Add to my calendar</a><br>
                    <div id="calendarDiv" style="display: none; margin: 10px 20px; line-height: 26px;">
                        <div>
                            <a href="#"><span class="icon add_to_outlook">&nbsp;</span> Outlook Calendar</a>
                        </div>
                        <div>
                            <a href="#"><span class="icon add_to_google">&nbsp;</span> Google Calendar</a>
                        </div>
                        <div>
                            <a href="#"><span class="icon add_to_yahoo">&nbsp;</span> Yahoo! Calendar</a>
                        </div>
                        <div>
                            <a href="#"><span class="icon add_to_ical">&nbsp;</span> iCal Calendar</a>
                        </div>
                    </div>
                </div><!-- end panel_body -->
            </div><!-- end panel_280 -->
            <div id="hostedByDiv" class="panel_280">
                <div class="panel_head2"><h3>Organizer</h3></div>

                <div id="new_organizer_module" class="panel_body">

                    <div id="organizer_header" class="fn panel_border">
                        <h2>Mastermind Lifestyle Prime</h2>

                        <div class="note">
                            <p>Houstonpartylife.com</p>
                            <!--[if IE]><![endif]-->
                        </div>
                    </div>

                    <span class="button_css">
                        <a href="#" class="contact_organizer_link js-d-modal js-event-track" data-organizer-id="10878985534" data-event-id="25966199602" data-tracking-action="ContactOrgAttempt" data-automation="contact_organizer_button" dorsal-guid="761fa92d-ffcb-9921-fbdd-31a8bfb3c497" data-xd-wired="modal">
                            <span class="icon contact_host_icon">&nbsp;</span>
                            Contact the Organizer
                        </a>
                    </span>

                    <div id="organizer_content">
                        <div id="organizer_profile" class="organizer_link">
                            <a id="profile_link" class="url js-event-track" data-tracking-action="ViewOrgProfile" href="#" target="_blank">
                                View organizer profile
                            </a>
                        </div>
                    </div>  <!-- end organizer_context -->

                    <div id="organizer_events" class="panel_border">
                        <div class="organizer_link">
                            <span class="counter">2</span>
                            <a id="upcoming_link" href="#" target="_blank" class="js-event-track" data-tracking-action="ViewOrgUpcomingEvents">
                                upcoming events on Eventbrite
                            </a>
                        </div>
                    </div>
                </div> <!-- end panel_body -->
            </div> <!-- end panel_280 -->
            <div class="l-mar-top-2 l-pad-hor-2">
                <span class="text-body-large">Why drive to the club when you can ride on a PARTY BUS</span>
                <section>
                    <span>
                        <a href="#" class="js-d-track-link badge badge--tag l-mar-top-2" data-event-action="BreadcrumbAddress" data-event-category="listing" data-event-label="/things-to-do/tx--houston/" data-automation="BreadcrumbAddress" dorsal-guid="ad8087ce-e75c-fd87-a541-b2c26cbfe7c1" data-xd-wired="track-link">
                            <span>Things to do in Houston, TX</span>
                        </a>
                    </span>
                    <span>
                        <a href="#" class="js-d-track-link badge badge--tag l-mar-top-2" data-event-action="BreadcrumbFormat" data-event-category="listing" data-event-label="/d/tx--houston/parties/" data-automation="BreadcrumbFormat" dorsal-guid="7adc1365-37df-feb2-8e05-4c6d0eee60cf" data-xd-wired="track-link">
                            <span>Party</span>
                        </a>
                    </span>
                    <span>
                        <a href="#" class="js-d-track-link badge badge--tag l-mar-top-2" data-event-action="BreadcrumbCategory" data-event-category="listing" data-event-label="/d/tx--houston/music--parties/" data-automation="BreadcrumbCategory" dorsal-guid="17bdec3a-73ff-55fb-c81c-2fd4f33b419c" data-xd-wired="track-link">
                            <span>Music</span>
                        </a>
                    </span>
                </section>
            </div>
        </div> <!-- end col_280 -->
        <!-- end right_column block -->
        <div class="clearfloat"></div>
    </div> <!-- end main -->
</div>