<footer>

    @*<div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="title">
                        <h3>Công ty thành viên</h3>
                    </div>
                    <div id="owl-demo2" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                        <div class="owl-wrapper-outer">
                            <div class="owl-wrapper" style="width: 666px; left: 0px; display: block;">
                                <div class="owl-item" style="width: 111px;">
                                    <div class="item col-xs-11" style="padding:0px 7px;">
                                        <a href="#" target="_blank">
                                            <img src="~/Content/Images/Unicons_Logo_27062016.jpg" alt="Unicons">
                                        </a>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 111px;">
                                    <div class="item col-xs-11" style="padding:0px 7px;">
                                        <a href="#" target="_blank">
                                            <img src="~/Content/Images/logo2.jpg" alt="Ricons">
                                        </a>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 111px;">
                                    <div class="item col-xs-11" style="padding:0px 7px;">
                                        <img src="~/Content/Images/logo3.jpg" alt="FCC">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-controls clickable" style="display: none;">
                            <div class="owl-pagination">
                                <div class="owl-page">
                                    <span class=""></span>
                                </div>
                            </div>
                            <div class="owl-buttons">
                                <div class="owl-prev">
                                    <img src="~/Content/Images/icon1.jpg">
                                </div>
                                <div class="owl-next">
                                    <img src="~/Content/Images/icon2.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 os-tuyendart w3danima">
                    <div class="title">
                        <h3><p>Đối tác chiến lược</p></h3>
                    </div>
                    <div id="owl-demo3" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                        <div class="owl-wrapper-outer">
                            <div class="owl-wrapper" style="width: 222px; left: 0px; display: block;">
                                <div class="owl-item" style="width: 111px;">
                                    <div class="item col-xs-11" style="padding:0px 7px;">
                                        <img src="~/Content/Images/Logo-Kusto.jpg" alt="Kustocem Pte. Ltd">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-controls clickable" style="display: none;">
                            <div class="owl-pagination">
                                <div class="owl-page">
                                    <span class=""></span>
                                </div>
                            </div>
                            <div class="owl-buttons">
                                <div class="owl-prev">
                                    <img src="~/Content/Images/icon1.jpg">
                                </div>
                                <div class="owl-next">
                                    <img src="~/Content/Images/icon2.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-xs-12 bgopa">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <h4>Thông tin công ty</h4>
                        <div class="menu-footer-1-container">
                            <ul id="menu-footer-1" class="list">
                                <li id="menu-item-186" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-186"><a href="#">Tổng quan công ty</a></li>
                                <li id="menu-item-187" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-187"><a href="#">Cơ cấu tổ chức</a></li>
                                <li id="menu-item-188" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-188"><a href="#">Cán bộ chủ chốt</a></li>
                                <li id="menu-item-189" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-189"><a href="#">Chính sách nhân sự</a></li>
                                <li id="menu-item-190" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-190"><a href="#">Những cải tiến trong tổ chức</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <h4>Quan hệ cổ đông</h4>
                        <div class="menu-footer-2-container">
                            <ul id="menu-footer-2" class="list">
                                <li id="menu-item-192" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-192"><a href="#">Thông tin Cổ đông</a></li>
                                <li id="menu-item-191" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-191"><a href="#">Báo cáo tài chính – thường niên</a></li>
                                <li id="menu-item-193" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-193"><a href="#">Biên bản và nghị quyết</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2">

                        <h4><img src="~/Content/Images/stock.jpg" style="height:18px;" alt="stock"> &nbsp; CTD</h4>
                        <div style="color:#fff; padding-left:30px;">
                            <strong style="font-size:36px;">258.0</strong> <span><img src="~/Content/Images/green.jpg" alt="CTD"></span>
                        </div>
                        <div style="color:#fff; padding-left:10px;">
                            <br> &nbsp; 1.0 (0.4%)                         <br> 15:15 - 07/09/2016
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <h4>Liên hệ</h4>
                        <div class="some-content-related-div">
                            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 120px;">
                                <div id="inner-content-div" style="overflow: hidden; width: auto; height: 120px;">
                                    <h5>Văn phòng Chính:</h5><ul class="list-f lienhe-f"><li>Đà Nẵng.</li><li>84.8-35142255/66 - 84.8-35142277</li><li><strong>Email:</strong> <a href="mailto:contact@KTS.vn">contact@KTS.vn</a></li></ul><h5>Văn phòng Đại Diện:</h5><ul class="list-f lienhe-f"><li>Đà Nẵng.</li><li>84.4-37834851 - 84.4-37834850</li><li><strong>Email:</strong> <a href="mailto:contacthn@KTS.vn">contacthn@KTS.vn</a></li></ul>
                                </div><div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 49.3151px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

    <div class="global-footer">
        <div class="g-grid l-mar-top-2">
            <h2 class="is-hidden-accessible">Site Navigation</h2>
            <div class="l-pad-vert-5 l-sm-pad-vert-3 g-group hide-small hide-medium">
                <ul class="footer-links g-cell g-cell-12-12 g-cell-md-6-12 g-cell-lg-3-12">
                    <h3 class="footer-text-heading-primary text-body-medium">Use Eventbrite</h3>
                    <li><a href="#" class="text-body-small">How It Works</a></li>
                    <li><a href="#" class="text-body-small">For Large &amp; Complex Events</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#" class="text-body-small">Eventbrite Mobile App</a></li>
                    <li><a href="#" class="text-body-small">Eventbrite Check-In App</a></li>
                    <li><a href="#" class="text-body-small">Reserved Seating</a></li>
                    <li><a href="#" class="text-body-small">Eventbrite Spectrum</a></li>
                    <li><a href="#" class="text-body-small">Rally - Fun Things To Do</a></li>
                    <li><a href="#" class="text-body-small">Sitemap</a></li>

                </ul>



                <ul class="footer-links g-cell g-cell-12-12 g-cell-md-6-12 g-cell-lg-3-12">
                    <h3 class="footer-text-heading-primary text-body-medium">Plan Events</h3>


                    <li><a href="#" class="text-body-small">Conference Management Software</a></li>
                    <li><a href="#" class="text-body-small">Classes &amp; Workshops</a></li>
                    <li><a href="#" class="text-body-small">Nonprofits &amp; Fundraisers</a></li>
                    <li><a href="#" class="text-body-small">Reunions</a></li>
                    <li><a href="#" class="text-body-small">Sell Tickets</a></li>
                    <li><a href="#" class="text-body-small">Event Management &amp; Planning</a></li>
                    <li><a href="#" class="text-body-small">RSVP Online</a></li>
                    <li><a href="#" class="text-body-small">Venue Booking &amp; Management</a></li>
                    <li><a href="#" class="text-body-small">Event Organizing Resources</a></li>

                </ul>



                <ul class="footer-links g-cell g-cell-12-12 g-cell-md-6-12 g-cell-lg-3-12">
                    <h3 class="footer-text-heading-primary text-body-medium">Find Events</h3>


                    <li><a href="#" class="text-body-small">Boston Events</a></li>
                    <li><a href="#" class="text-body-small">Chicago Events</a></li>
                    <li><a href="#" class="text-body-small">Denver Events</a></li>
                    <li><a href="#" class="text-body-small">Houston Events</a></li>
                    <li><a href="#" class="text-body-small">Los Angeles Events</a></li>
                    <li><a href="#" class="text-body-small">Nashville Events</a></li>
                    <li><a href="#" class="text-body-small">New York Events</a></li>
                    <li><a href="#" class="text-body-small">San Diego Events</a></li>
                    <li><a href="#" class="text-body-small">San Francisco Events</a></li>
                    <li><a href="#" class="text-body-small">Seattle Events</a></li>

                </ul>



                <ul class="footer-links g-cell g-cell-12-12 g-cell-md-6-12 g-cell-lg-3-12">
                    <h3 class="footer-text-heading-primary text-body-medium">Connect With Us</h3>
                    <li>
                        <ul class="bullet-list-ico">

                            <li>
                                <i class="ico-email-badge ico--bullet ico--medium"></i> <a class="email text-body-small" href="#">
                                    Contact Support
                                </a>
                            </li>
                            <li><i class="ico-email-badge ico--bullet ico--medium"></i> <a class="email text-body-small" href="#">Contact Sales</a></li>
                            <li><i class="ico-twitter-badge ico--bullet ico--medium"></i> <a class="twitter text-body-small" href="#" target="_blank">Twitter</a></li>
                            <li><i class="ico-facebook-badge ico--bullet ico--medium"></i> <a class="facebook text-body-small" href="#" target="_blank">Facebook</a></li>
                            <li><i class="ico-linkedin-badge ico--bullet ico--medium"></i> <a class="linkedin text-body-small" href="#" target="_blank">LinkedIn</a></li>
                            <li><i class="ico-instagram-badge ico--bullet ico--medium"></i> <a class="instagram text-body-small" href="#" target="_blank">Instagram</a></li>
                            <li><i class="ico-google-plus-badge ico--bullet ico--medium"></i> <a class="googleplus text-body-small" href="#" target="_blank">Google+</a></li>
                        </ul>
                    </li>
                </ul>
            </div> <!-- end g-group -->
            <!--       <div class="g-group hide-small hide-medium">
                    <div class="g-cell g-cell-12-12">
                      <div class="footer-section--border"></div>
                      <h3 class="footer-text-heading-primary text-body-medium l-mar-top-4">Country</h3>
                      <ul class="footer-links footer-links--inline footer-links--padding-right l-mar-top-1">


                        <li><a class="text-body-small" href="#" data-automation="footer-es_AR">Argentina</a></li>

                        <li><a class="text-body-small" href="#" data-automation="footer-en_AU">Australia</a></li>

                        <li><a class="text-body-small" href="#" data-automation="footer-pt_BR">Brasil</a></li>

                        <li><a class="text-body-small" href="#" data-automation="footer-en_CA">Canada (EN)</a></li>

                        <li><a class="text-body-small" href="#" data-automation="footer-fr_CA">Canada (FR)</a></li>

                        <li><a class="text-body-small" href="#" data-automation="footer-es_CL">Chile</a></li>

                        <li><a class="text-body-small" href="#" data-automation="footer-es_CO">Colombia</a></li>

                        <li><a class="text-body-small" href="#" data-automation="footer-de_DE">Deutschland</a></li>

                        <li><a class="text-body-small" href="#" data-automation="footer-es_ES">España</a></li>

                        <li><a class="text-body-small" href="#" data-automation="footer-fr_FR">France</a></li>

                        <li><a class="text-body-small" href="#" data-automation="footer-en_HK">Hong Kong</a></li>

                        <li><a class="text-body-small" href="#" data-automation="footer-en_IE">Ireland</a></li>

                        <li><a class="text-body-small" href="#" data-automation="footer-it_IT">Italia</a></li>

                        <li><a class="text-body-small" href="#" data-automation="footer-es_MX">Mexico</a></li>

                        <li><a class="text-body-small" href="#" data-automation="footer-nl_NL">Nederland</a></li>

                        <li><a class="text-body-small" href="#" data-automation="footer-en_NZ">New Zealand</a></li>

                        <li><a class="text-body-small" href="#" data-automation="footer-es_PE">Peru</a></li>

                        <li><a class="text-body-small" href="#" data-automation="footer-pt_PT">Portugal</a></li>

                        <li><a class="text-body-small" href="#" data-automation="footer-en_SG">Singapore</a></li>

                        <li><a class="text-body-small" href="#" data-automation="footer-en_GB">United Kingdom</a></li>

                        <li><a class="text-body-small" href="#" data-automation="footer-en_US">United States</a></li>

                      </ul>
                    </div>
                  </div> -->
            <div class="g-group text--centered l-mar-top-4">
                <div class="g-cell g-cell-12-12">
                    <div class="footer-section--border show-large"></div>
                </div>
                <div class="g-cell g-cell-10-12 g-cell-md-10-12 g-cell-lg-9-12 text--normal">
                    <div class="footer-corp-links">
                        <ul class="footer-links footer-links--inline footer-links--padding-right">
                            <li class="hide-large">
                                <a href="#" class="text-body-small">How It Works</a>
                            </li>
                            <li class="hide-large">
                                <a href="#" class="text-body-small">Pricing</a>
                            </li>
                            <li class="hide-large">
                                <a href="#">Contact Support</a>
                            </li>
                            <li class="hide-large">
                                <a href="#">Contact Sales</a>
                            </li>
                            <li>
                                <a href="#" class="text-body-small">About</a>
                            </li>
                            <li><a href="#" target="_blank">Blog</a></li>
                            <li>
                                <a href="#" class="text-body-small">Help</a>
                            </li>
                            <li>
                                <a href="#" class="text-body-small">Careers</a>
                            </li>
                            <li>
                                <a href="#" class="text-body-small">Press</a>
                            </li>
                            <li>
                                <a href="#" class="text-body-small" rel="nofollow">Security</a>
                            </li>
                            <li>
                                <a href="#" class="text-body-small">Developers</a>
                            </li>
                            <li>
                                <a href="#" class="text-body-small" rel="nofollow">Terms</a>
                            </li>
                            <li>
                                <a href="#" class="text-body-small" rel="nofollow">Privacy</a>
                            </li>
                            <li>
                                <a href="#" class="text-body-small" rel="nofollow">Cookies</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="region-selector--wrapper g-cell g-cell-11-12 g-cell-md-6-12 g-cell-lg-3-12">
                    <div class="region-selector--dropdown l-pad-vert-2 text--normal show-large l-mar-top-3" style="width: 240px;">
                        <i class="ico-globe ico--medium"></i> <a href="#" class="region-selector--active">United States</a> <i class="ico-arrow-dropdown ico--medium"></i>
                        <ul class="list list--has-highlight">

                            <li><a class="locale-es_AR" href="#">Argentina</a></li>
                            <li><a class="locale-en_AU" href="#">Australia</a></li>
                            <li><a class="locale-pt_BR" href="#">Brasil</a></li>
                            <li><a class="locale-en_CA" href="#">Canada (EN)</a></li>
                            <li><a class="locale-fr_CA" href="#">Canada (FR)</a></li>
                            <li><a class="locale-de_DE" href="#">Deutschland</a></li>
                            <li><a class="locale-es_ES" href="#">España</a></li>
                            <li><a class="locale-fr_FR" href="#">France</a></li>
                            <li><a class="locale-en_HK" href="#">Hong Kong</a></li>
                            <li><a class="locale-en_IE" href="#">Ireland</a></li>
                            <li><a class="locale-it_IT" href="#">Italia</a></li>
                            <li><a class="locale-nl_NL" href="#">Nederland</a></li>
                            <li><a class="locale-en_NZ" href="#">New Zealand</a></li>
                            <li><a class="locale-pt_PT" href="#">Portugal</a></li>
                            <li><a class="locale-en_SG" href="#">Singapore</a></li>
                            <li><a class="locale-en_GB" href="#">United Kingdom</a></li>
                            <li class="region--selected"><a class="locale-en_US" href="#"><i class="ico-globe ico--medium ico--color-brand-light-blue"></i>United States</a></li>

                        </ul>
                    </div>

                    <div class="region-selector--select hide-large">
                        <i class="ico-globe ico--medium"></i>
                        <i class="ico-arrow-dropdown ico--medium"></i>
                        <label for="footer-region-selector-dropdown" class="is-hidden-accessible">Locale</label>
                        <select id="footer-region-selector-dropdown">

                            <option value="/international/change_locale/?locale=es_AR">Argentina</option>
                            <option value="/international/change_locale/?locale=en_AU">Australia</option>
                            <option value="/international/change_locale/?locale=pt_BR">Brasil</option>
                            <option value="/international/change_locale/?locale=en_CA">Canada (EN)</option>
                            <option value="/international/change_locale/?locale=fr_CA">Canada (FR)</option>
                            <option value="/international/change_locale/?locale=de_DE">Deutschland</option>
                            <option value="/international/change_locale/?locale=es_ES">España</option>
                            <option value="/international/change_locale/?locale=fr_FR">France</option>
                            <option value="/international/change_locale/?locale=en_HK">Hong Kong</option>
                            <option value="/international/change_locale/?locale=en_IE">Ireland</option>
                            <option value="/international/change_locale/?locale=it_IT">Italia</option>
                            <option value="/international/change_locale/?locale=nl_NL">Nederland</option>
                            <option value="/international/change_locale/?locale=en_NZ">New Zealand</option>
                            <option value="/international/change_locale/?locale=pt_PT">Portugal</option>
                            <option value="/international/change_locale/?locale=en_SG">Singapore</option>
                            <option value="/international/change_locale/?locale=en_GB">United Kingdom</option>
                            <option value="/international/change_locale/?locale=en_US" selected="selected">United States</option>

                        </select>
                    </div>
                </div>

                <div class="l-pad-vert-4 l-sm-pad-vert-3 hide-large">
                    <p class="footer-copyright text-body-small l-mar-top-2">© 2016 Eventbrite</p>
                </div>
            </div> <!-- end g-group -->

            <div class="g-group text--centered show-large">
                <div class="g-cell g-cell-12-12">
                    <div class="footer-section--border"></div>
                </div>
                <div class="g-group l-pad-vert-5 l-sm-pad-vert-3">
                    <div class="g-cell g-cell-12-12">
                        <p class="footer-copyright text-body-medium">© 2016 Eventbrite</p>
                    </div>
                </div>
            </div>
        </div> <!-- end g-grid -->

    </div>
</footer>
@*<section class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <p class="text-left"><span>Copyright © 2016 Powered by <strong>KTS</strong> Group.</span> Design by <a href="#" target="_blank" style="color:#333;">KTS Co</a></p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="text-right">
                    <a href="#" target="_blank"><img src="~/Content/Images/portal.png" alt="portal"></a> &nbsp;
                    <a href="#" target="_blank"><img src="~/Content/Images/email-icon.png" alt="Webmail KTS"></a> &nbsp;
                    <a href="#" target="_blank"><img class="alignnone wp-image-549 size-full" src="~/Content/Images/yt.jpg" alt="yt"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="sub_top" style="display: none;">
    <a href="Home/Index">
        <img src="~/Content/Images/btn_top_off.png" alt="top">
    </a>
</div>*@